<div>
	<div id="navigation-H">
			<!-- Page title -->
			<p>
				<% if( is_home() ) { %>
					<%= __('home') %>
				<% } else if ( is_archive() ) { %>
					<%= __('archive_a') %>
				<% } else if( is_current('categories/index.html') ) { %>
					<%= __('categories') %>
				<% } else if( is_current('tags/index.html') ) { %>
					<%= __('tags') %>
				<% } else if( is_post() ) { %>
					<%= __('current_post') %>&nbsp;:&nbsp;《<%= page.title %>》
				<% } else { %>
					<%= page.title %>
				<% } %>
			</p>
			<!-- Progress bar -->
			<div id="progress-bar"></div>
	
			<!-- Progress percent -->
			<div id="progress-percentage">
				<h1>0.0%</h1>
			</div>
	</div>
	
	<!-- Navigation in div(id="navigation-H") -->
	<a class="nav-trigger">
		<span></span>
	</a>
	
	<nav class="nav-container" id="cd-nav">
		<div class="nav-header">
			<h3>Navigation</h3>
			<a href="javascript:;" class="nav-close"></a>
		</div>
		<div class="nav-body">
			<ul>
				<% for(var i in theme.menu) { %>
					<li class="menu-<%= i %>">
						<a href="<%- url_for(theme.menu[i]) %>" class="menu-item-<%= i %>"><%- __(i) %></a>
					</li>
				<% } %>
	
				<% if (theme.local_search.enable) { %>
					<li class="menu-search">
						<a href="javascript:;" class="popup-trigger" title="Search"><%= __('search') %></a>
					</li>
				<% } %>
			</ul>
		</div>
	
		<div class="nav-footer">
			<%- partial('social') %>
		</div>
	</nav>
</div>

<div class="layout-post">
	<% 
		permalink = config.url + config.root + post.path 
	%>

	<%- partial('widget/toc', {post: post}) %>
	
	<div class="article-title">
		<%- partial('post/title', {post: post}) %>
	</div>

	<div class="article-meta">
		<span>
			<%- partial('post/date', {post: post, date_format: null}) %>
		</span>
		<%= __('split_line')%>
		<span>
			<i class="fa fa-tags"></i>
			<%- partial('post/tag', {post: post}) %>		
		</span>
		<%= __('split_line') %>
		<%- partial('post-like') %>
	</div>

	<div class="article-content" id="article-content">
		<%- post.content %>	
	</div>
</div>

<%- partial('third/statistics', {module: 'leancloud'}) %>

<%- partial('third/math', {post: post}) %>

<%- partial('post/code-copy', {post: post}) %>

<%- partial('post/gallery', {post: post}) %>